<!DOCTYPE html>
<html>
{% load static %}
<head>
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
         <title>Add Data</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "bootstrap.min.css" %}" >
  <script src="{% static "jquery-3.3.1.js" %}"></script>
  <script src="{% static "bootstrap.min.js" %}"></script>
  <style type="text/css">
        body {
            background-color:  #66CCFF;
        }
        .navbar-inverse {
            margin-bottom: px;

        }

        h1 {
            color: black;
            font-style: bold;
            text-align: center;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: #ddd;
        }
         .container1 {
                    float: center;
                    display: grid;
                    grid-template-columns: 2fr 7fr 3fr 2fr;

                    width: 100%;
        }
         .data_e {
          background-color: #CCFFCC  ;         }
          .data {
            background-color: white;
          }

</style>
</head>

<body>

<nav class="navbar navbar-inverse" style="font-size: 20px;">
  <div class="container-fluid">
    <ul  class="nav navbar-nav" style="margin-bottom: 0px; ">
      <li style="padding-right: 15px"  ><a href="{% url 'main' %}">Home</a></li>
       <li style="padding-right: 15px" > <a href="{% url 'search' %}">Search</a></li>
        <li style="padding-right: 15px" class="active"><a href="{% url 'add_options' %}">Add New Data</a></li>
        <li style="padding-right: 15px"><a href="{% url 'modify_options' %}">Modify Data</a></li>
        <li style="padding-right: 15px"><a href="{% url 'report_options' %}">Report Generation</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

    </ul>
  </div>
</nav>

<h1 id="title">Add new data</h1>



  <div class="container1">
  <div></div>
 <div class="data">
 <form class="form-horizontal" action="" , method="post" onsubmit="return confirmation();">
    <div id="form" style="padding: 50px;">
     {% csrf_token %}
    <div class="form-group">
      <label class="control-label col-sm-4" for="email">Date :</label>
      <div class="col-sm-6">
        <div>  {{ shift.date.date }}  </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" >HMC Number :</label>
      <div class="col-sm-6">
        <div>  {{ shift.hmc_number }}  </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" >Shift :</label>
      <div class="col-sm-6">
        <div>  {{ shift.shift }}  </div>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-sm-4" >Vessel Name :</label>
      <div class="col-sm-6">
                <div>  {{ vessel_name }}  </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" >Cargo :</label>
      <div class="col-sm-6">
                <div>  {{ vessel_cargo }}  </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" >Berth Number : </label>
      <div class="col-sm-6">
                <div>  {{ berth_number }}  </div>
      </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-4" > Slot Time Start :</label>
        <div class="col-sm-6">
          <input type="time" class="form-control" id="time_slot_start" placeholder="Slot Time Start" name="time_slot_start" min="0:00" max="24:00" required>
        </div>
      </div>


    <div class="form-group">
        <label class="control-label col-sm-4" >Slot Time End :</label>
        <div class="col-sm-6">
          <input type="time" class="form-control" id="time_slot_stop" placeholder="Slot Time End " name="time_slot_stop" min="0:00" max="24:00" required>
        </div>
      </div>



    <div class="form-group">
        <label class="control-label col-sm-4" > Reason :</label>
        <div class="col-sm-6">
          <select type="button" class="form-control" id="dropdown" id="reason" placeholder="Reason" name="reason" required>
                    <option value="">Reason</option>
                    <option value="NC">NC - No Cargo</option>
                    <option value="NT">NT - No Trailer</option>
                    <option value="FH">FH - Fixing Hatch</option>
                    <option value="NO">NO - No Operation</option>
                    <option value="TR">TR - Travelling</option>
                    <option value="RH">RH - Remove Hatch</option>
                    <option value="BD">BD - Breakdown</option>
                    <option value="MISC">MISC - Miscellaneous</option>
                    <option value="NB">NB - No Booking</option>
                    <option value="NV">NV - No Vessel</option>
                    <option value="H">H - Holiday</option>
                    <option value="S">S - Strike</option>
                    <option value="M">M - Maintenance</option>
            </select>
        </div>
      </div>

    <div class="form-group">
      <label class="control-label col-sm-4" > Remark :</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="remark" placeholder="Remark" name="remark" style="height: 200%;" required>
      </div>
    </div>



 <div class="form-group">
      <div class="col-sm-offset-6 col-sm-6">

          <button type="submit" class="btn btn-default">Submit</button>
  <br><br>
          <button class="btn btn-default"  onclick="goBack()">Go Back</button>
      </div>
    </div>
    </div>


</form>

</div>
    <!-- <div class="data_e">
        <h3 style = "margin: 10px"> Latest Added Data: </h3>
        <p style = "margin-left: 10px"> {% for date in dates %} <br>
            <span stype = "font-size: 17px"> <b> {{ date.date }} </b> </span>
            {% for shift in date.shift_set.all %}
                {% for slot in shift.slot_set.all %} <br>
                    HMC: {{ shift.hmc_number }} | Shift: {{ shift.shift }} <br>
                    Time slot starts: {{ slot.get_time_slot_start }} <br>
                    Time slot stops: {{ slot.get_time_slot_stop }} <br>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </p>
    </div> -->
</div>

<script>
function confirmation() {
    if (!confirm("Please verify the data before submitting.")) {
        return false;
    }
}
</script>
<script>
function goBack() {
    window.history.back();
}
</script>
</body>
</html>
